<div class="contact-container">
    <div class="contact-layout">
        <div class="contact-title">Get in touch,</div>
        <div class="contact-title-content">Let's talk Profession or just have a cup of coffee.</div>
        <div class="contact-content">
            <div class="content-title">Phone</div>
            <div class="content">+86 18510408961</div>
        </div>
        <div class="contact-content">
            <div class="content-title">Email</div>
            <div class="content">gjwlg@163.com</div>
        </div>
    </div>
</div>