<div class="home-layout">
    <div class="home-content">
        <div class="home-name">I'm Guo Jiawei</div>
        <div class="home-brief">
            Also known as Joey, I'm a Front End Engineer working at Pactera.
        </div>
        <div class="home-links">
            <a class="link" href="https://github.com/neromaycry">Github</a>
            <a class="link" href="http://www.jianshu.com/u/57b6f9e859fc">简书</a>
            <a class="link" href="https://www.zhihu.com/people/guo-jia-wei-30/activities">知乎</a>
            <a class="link" href="https://juejin.im/user/5931ae52b123db006401e862">掘金</a>
        </div>
    </div>
</div>