.home-layout {
    width: 100%;
}

.home-content {
    height: 500px;
    margin: 24px 112px 24px 112px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: white;
}

.home-name {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    margin: 136px 24px 112px 112px;
    font-family: Arial, Helvetica, sans-serif;
}

.home-brief {
    position: absolute;
    font-size: 18px;
    color: #343434;
    margin: 208px 24px 112px 112px;
}

.home-links {
    clear: both;
    position: absolute;
    margin: 384px 24px 112px 112px;
}

.link {
    float: left;
    color: #7B7B7B;
    margin-right: 24px;
    text-decoration-line: none;

    &:hover {
        color: #221E1F;
        cursor: pointer;
    }
}